.wrapper
  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    .groups
      .group
        - current_user.groups.each do |group|
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              = group.show_last_message

  .chat
    .header
      .left-header
        %h2.left-header__title
          = @group.name
          %ul.member-list
            Member：
            - @group.users.each do |user|
              .user
                %li= user.name

      =link_to edit_group_path(@group) do
        .right-header     
          Edit

    .messages{data: {group: {id: @group.id}}}
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'